div.event-div
{
    max-width: 1000px;
    margin: 56pt 2% 2% 2%;
}

table.event-table
{
    font-size: 16pt;
    border-collapse: collapse;
}

td, th
{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td {vertical-align: middle;}

a#more-info
{
    font-size: 16pt;
    color:black;
    text-decoration: underline;
    color: #811842; /*rgba(255,0,0,0.7);*/
}

a#more-info:hover
{
    color: rgb(0,0,0);
}

@media only screen and (max-width: 500px) {

    h1
    {
        font-size: 20pt;
    }

    table.event-table
    {
        font-size: 12pt;
    }

    a#more-info
    {
        font-size: 12pt;
    }
}

@media only screen and (max-width: 400px) {

    h1
    {
        font-size: 16pt;
    }

    table.event-table
    {
        font-size: 8pt;
    }

    a#more-info
    {
        font-size: 8pt;
    }
}

#overlay0, #overlay1, #overlay2, #overlay3
{
    margin-top: 50px;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.8);
    overflow-y: hidden;
    transition: 0.5s;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 45px;
    font-size: 60px;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: whitesmoke;
    display: block;
    transition: 0.1s;
}

.closebtn:hover {
    color: gray;
}


.image
{
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 80%;
    height: auto;
    max-width: 600px;
}

.events-footer {
    clear: both;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #eee;
    padding-top: 2%;
    padding-bottom: 2%;
}
