.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
  font-size: 20px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

#hours {
  margin-right:5%;
}

.main-image {
  max-height: 425px;
}

.featurette {
  margin-top:8%;
  margin-left:2%;
  margin-right:2%;
  background-color: #ecf0f1;
  overflow: auto;
  padding:2%;
}

.well {
  margin-left:2%;
  margin-right:2%;
}

#topwell {
  margin-top:8%;
}

.galleryCar {
  margin-top:2%;
}

/*.carousel-inner > .item > img {
    margin: 0 auto;
}*/

/*.carousel-inner > .item > img {
  max-height: 500px;
  width: auto;
}*/

.footer {
  background-color: #eee;
  padding-top: 2%;
  padding-bottom: 2%;
}

ul.nav-pills {
    top: 15%;
    position: fixed;
}


/*remove after certain width*/
.nav-pills>li>a {
  color:black; !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
       color: white !important;
       background-color: #e74c3c;
}

div.col-sm-11 div {
}

#joinus {
  font-size: 20pt;
  margin:0 auto;
  text-align: left;
}

@media (max-width: 800px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
  .body {
    padding-top:50%;
  }
  #hours {
    margin-left:5%;
    margin-right:5%;
  }
  .featurette {
    margin-top:12%;
    margin-left:2%;
    margin-right:2%;
  }
  #myScrollspy{
    display:none;
  }
  #topwell {
    margin-top: 10%;
    padding:2%;
  }
}
