div.menu-div
{
    max-width: 800px;
    margin: 56pt 2% 2% 2%;
}

table.menu-table 
{
    font-size: 16pt;
    border-collapse: collapse;
}

td, th
{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td {vertical-align: middle;}


@media only screen and (max-width: 500px) {
    
    h1
    {
        font-size: 20pt;
    }
    
    table.event-table
    {
        font-size: 12pt;
    }
    
    a#more-info
    {
        font-size: 12pt;
    }
}

@media only screen and (max-width: 400px) {
    
    h1
    {
        font-size: 16pt;
    }
    
    table.menu-table
    {
        font-size: 8pt;
    }
    
    a#more-info
    {
        font-size: 8pt;
    }
}

.img-responsive {
    position:relative;
    display:block;
    margin-top: 8%;
}


.menu-footer {
    clear: both;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #eee;
    padding-top: 2%;
    padding-bottom: 2%;
}
